{% extends "base.html" %}

{% block content %}
<section class="page-section" id="ali">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bầu chọn trong mạng không dây</h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        {% if Error %}
            <div class="col-sm-8 mx-auto text-center">
                <span style="color:red; font-weight:bold">Lỗi {{Error}}! <br>Vui lòng kiểm tra và thử lại</span>
            </div>
        {% endif %}
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <form action="/voted_wireless" method="POST">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-8">
                            <div class="form-group col-md">
                                <label for="voted_values">Giá trị bầu chọn</label>
                                <input class="form-control" type="text" id="voted_values" name="voted_values" placeholder="Điền giá trị bầu chọn dạng 'tên, giá trị;'" required/>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-8">
                            <div class="form-group col-md">
                                <label for="conn">Các kết nối</label>
                                <input class="form-control" type="text" id="conn" name="conn" placeholder="Điền các kết nối cách nhau dấu ;" required/>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-8">
                            <div class="form-group col-md">
                                <label for="message">Thông điệp</label>
                                <input class="form-control" type="text" id="message" name="message" placeholder="Điền thông điệp cách nhau dấu ;" required/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-primary btn-xl" type="submit">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
        <p></p>
        {% if results %}
            <div class="row">
                <div class="col-sm-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                    <table class="table table-hover">
                        <thead>
                            <th>Thông điệp</th>
                            <th>Tiến trình</th>
                        </thead>
                        <tbody>
                            {% for k, v in results.get("data").items() %}
                            <tr>
                                <th>{{k}}</th>
                                <td>{{v}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-8 mx-auto text-center">
                    <span style="color:green; font-weight:bold">Tiến trình được chon: {{ results.get("final") }}</span>
                </div>
            </div>
        {% endif %}
    </div>
</section>


{% endblock %}